It is a permissive software license with a few restrictions.
<ul>
  <li>This software may be modified, used, and distributed in open or closed-source software.</li>
  <li>Redistribution requires a copy of the license and notices to any modifications made to this software.</li>
  <li>Any unmodified parts of this software must retain the original license but any modifications or derivatives may be licensed differently.</li>
</ul>
This is only a brief summary of the license. For the complete restrictions and requirements, please refer to the full license.
