#contact-email, #contact-message {
    width: 100%;
}

#contact-confirmation {
    color: #000000;
    background-color: $accent-color;
    padding: 6px;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
}

#contact-tos {
    display: none;
}