#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
    background-color: $secondary-color;
    border-top: lighten($secondary-color, 20%) solid 1px;
}

#footer-copyright {
    float: left;
    margin: 4px;
}

.footer-link {
    float: right;
}