#kek-intro {
    margin: 16px 0;
    background-color: $tertiary-color;
    border: lighten($tertiary-color, 10%) solid 1px;
}

#kek-intro-text {
    font-size: 34px;
    width: 35%;
    padding: 16px;
}

#kek-intro-image {
    width: 65%;
}

@media screen and (max-width: $large-width) {

    #kek-intro-text, #kek-intro-image, %column-2 {
        display: block;
        width: 100%;
    }

}