.project-navbar {
    text-align: center;
    margin: 24px 0;
}

.project-navbar-item, .project-navbar-item:link, .project-navbar-item:visited {
    margin: 20px;
    color: $text-color;
    text-decoration: none;
    font-size: 26px;
}

.project-navbar-item:hover {
    color: $secondary-text-color;
}

.project-navbar-item-selected:link {
    border-bottom: 1px solid;
    padding-bottom: 2px;
}

@media screen and (max-width: $medium-width) {

    .project-navbar-item {
        display: block;
    }

}