@media screen and (max-width: $medium-width) {

  .gone-at-medium {
    display: none;
  }

  .block-at-medium {
    display: block;
  }

  .float-none-at-medium {
    float: none;
  }

  .text-center-at-medium {
    text-align: center;
  }

  .column-2 {
    float: none;
    width: 100%;
  }

  .side-panel {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

}

@media screen and (max-width: $large-width) {

  .block-at-large {
    display: block;
    width: 100%;
  }

}