---
layout: public-download
---

{{ content }}
{%- assign info = site.data[page.project].info -%}
<h2>Maven</h2>
<p>Add the following dependency:</p>
{%- highlight xml -%}
<dependency>
  <groupId>{{ info.maven_groupId }}</groupId>
  <artifactId>{{ info.maven_artifactId }}</artifactId>
  <version>{{ page.version }}</version>
</dependency>
{%- endhighlight -%}
<h2>Gradle</h2>
<p>Ensure the Maven Central repository is declared:</p>
{%- highlight gradle -%}
repositories {
  mavenCentral()
}
{%- endhighlight -%}
<p>Add the following dependency:</p>
{%- highlight gradle -%}
implementation '{{ info.maven_groupId }}:{{ info.maven_artifactId }}:{{ page.version }}'
{%- endhighlight -%}