---
layout: public-download
---

{{ content }}
<h2>Maven</h2>
<div class="language-xml highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="nt">&lt;dependency&gt;</span>
  <span class="nt">&lt;groupId&gt;</span>{{ page.maven-groupId }}<span class="nt">&lt;/groupId&gt;</span>
  <span class="nt">&lt;artifactId&gt;</span>{{ page.maven-artifactId }}<span class="nt">&lt;/artifactId&gt;</span>
  <span class="nt">&lt;version&gt;</span>{{ page.version }}<span class="nt">&lt;/version&gt;</span>
<span class="nt">&lt;/dependency&gt;</span>
</code></pre></div></div>