---
layout: project
---

{%- include latest-release.html -%}
{%- assign releases = releases  | reverse -%}
{%- assign project = page.projects[page.project-id] -%}

<h1>{{ project.name }} Releases</h1>
<ul>
    {%- for i in (0..highest_major) reversed -%}
        {%- for release in releases -%}
            {%- assign major = release.version | split: "." | first | plus: 0 -%}
            {%- if major == i -%}
                <li>
                    {{ project.name }} {{ release.version }} ({{ release.date | date: "%B %-d, %Y" }}) -&nbsp;
                    {%- for link in page.links -%}
                        <a href="{{ project.url }}{{ link.path }}{{ release.version }}">{{ link.name }}</a>
                        {%- if forloop.last == false -%}
                            &nbsp;|&nbsp;
                        {%- endif -%}
                    {%- endfor -%}
                </li>
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
</ul>