---
layout: base
---

{%- assign releases = site.data[page.project].releases | reverse -%}
{%- assign info = site.data[page.project].info -%}

<h1>{{ info.name }} Releases</h1>
{%- assign major = -1 -%}
{%- assign minor = -1 -%}
<ul>
  {%- for release in releases -%}
    {%- assign current_major = release.version | major -%}
    {%- assign current_minor = release.version | minor -%}
    {%- if current_major != major or current_minor != minor -%}
      {%- assign major = current_major -%}
      {%- assign minor = current_minor -%}
      </ul>
      <h2>
        Version {{ major }}.{{ minor }}
        {%- if page.minor_links -%}
          &nbsp;-&nbsp;
          {%- for link in page.minor_links -%}
            <a href="{{ info.path }}{{ link.path }}{{ major }}.{{ minor }}">{{ link.name }}</a>
            {%- if forloop.last == false -%}
              &nbsp;|&nbsp;
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      </h2>
      <ul>
    {%- endif -%}
    <li>
      Version {{ release.version }} ({{ release.date | date: "%B %-d, %Y" }})
      {%- if page.patch_links -%}
        &nbsp;-&nbsp;
        {%- for link in page.patch_links -%}
          <a href="{{ info.path }}{{ link.path }}{{ release.version }}">{{ link.name }}</a>
          {%- if forloop.last == false -%}
            &nbsp;|&nbsp;
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </li>
  {%- endfor -%}
</ul>