---
layout: project
---

{%- include latest-release.html -%}
{%- assign releases = releases  | reverse -%}
{%- assign project = page.projects[page.project-id] -%}

<h1>{{ project.name }} Releases</h1>
{%- for i in (1..highest_major) reversed -%}
    <h2 class="major-version">Version {{ i }}</h2>
    <input class="collapse-checkbox major-version-checkbox hidden" type="checkbox" id="collapse-{{ i }}">
    <span class="collapse-labels unselectable">
        <label class="collapse-label major-collapse-label" for="collapse-{{ i }}">-</label>
        <label class="expand-label major-collapse-label" for="collapse-{{ i }}">+</label>
    </span>
    {%- assign highest_minor = 0 -%}
    {%- for release in releases -%}
        {%- assign major = release.version | major -%}
        {%- assign minor = release.version | minor -%}
        {%- if major == i and minor > highest_minor -%}
            {%- assign highest_minor = minor -%}
        {%- endif -%}
    {%- endfor -%}
    <div class="minor-versions">
        {%- for j in (0..highest_minor) reversed -%}
            <div>
                <span class="minor-version">Version {{ i }}.{{ j }}
                    {%- if page.minor-links -%}
                        &nbsp;-&nbsp;
                        {%- for link in page.minor-links -%}
                            <a href="{{ project.url }}{{ link.path }}{{ i }}.{{ j }}">{{ link.name }}</a>
                            {%- if forloop.last == false -%}
                                &nbsp;|&nbsp;
                            {%- endif -%}
                        {%- endfor -%}
                    {%- endif -%}
                </span>
                <input class="collapse-checkbox minor-version-checkbox hidden" type="checkbox" id="collapse-{{ i }}.{{ j }}">
                <span class="collapse-labels unselectable">
                    <label class="collapse-label minor-collapse-label" for="collapse-{{ i }}.{{ j }}">-</label>
                    <label class="expand-label minor-collapse-label" for="collapse-{{ i }}.{{ j }}">+</label>
                </span>
                <ul class="releases">
                    {%- for release in releases -%}
                        {%- assign major = release.version | major -%}
                        {%- assign minor = release.version | minor -%}
                        {%- if major == i and minor == j -%}
                            <li class="releases">
                                {{ release.version }} ({{ release.date | date: "%B %-d, %Y" }}) -&nbsp;
                                {%- for link in page.links -%}
                                    <a href="{{ project.url }}{{ link.path }}{{ release.version }}">{{ link.name }}</a>
                                    {%- if forloop.last == false -%}
                                        &nbsp;|&nbsp;
                                    {%- endif -%}
                                {%- endfor -%}
                            </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            </div>
        {%- endfor -%}
    </div>
{%- endfor -%}